<section class="row mb-4 g-2">
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">Total Employees<br><strong>120</strong></div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">Active<br><strong>108</strong></div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">On Leave<br><strong>12</strong></div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">Attrition<br><strong>3%</strong></div>
</div>

</section>


<section class="row mb-4 g-2">
    <div class="col-lg-6 col-md-12">
        <div class="card p-0">
            <div class="card-header bg-primary text-light">
                <h5 class="m-0 fw-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-add. mb-1" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                    </svg>
                    Recent Joined Employees
                </h5>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Employee Role</th>
                                    <th>Number Of Joined Days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of recentEmployees">
                                    <td>{{e.name}}</td>
                                    <td>{{e.role}}</td>
                                    <td>{{e.numberOfDays}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <canvas id="performanceChart" ></canvas>
        </div>

    </div>

</section>



<section class="row mb-5">
    <div class="col-md-12">
    <div class="card p-0">
            <div class="card-header p-2 bg-success text-light">
                <h5 class="m-0 fw-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                    </svg>
                     Employees Details
                </h5>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Employee Role</th>
                                    <th>Department</th>
                                    <th>Performance</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of EmployeeList">
                                    <td>{{e.name}}</td>
                                    <td>{{e.role}}</td>
                                    <td>{{e.department}}</td>
                                    <td>{{e.performance}}%</td>
                                    <td>
                                    <span class="status-badge"
                                        [ngClass]="{
                                        'active': e.status === 'Active',
                                        'on-leave': e.status === 'On Leave',
                                        'inactive': e.status === 'Inactive'
                                            }">
                                        {{ e.status }}
                                    </span>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                </div>

            </div>
    </div>
    </div>
</section>